@import '../global.scss';

.practice-list {
    margin: 0px 0px 3em;
}

.practice-row {
    text-align: center;
}

.practice-button {

    display: inline-block;
    background: $white;
    margin: 0.6%;
    width: 32%;
    padding: 1.5em 0;
    text-align: center;
    cursor: pointer;

    .practice-button-optype {
        font-size: 2.5em;
        color: $gray;
    }

    .practice-button-difficulty-basic {
        color: $green;
    }

    .practice-button-difficulty-intermediate {
        color: $yellow;
    }

    .practice-button-difficulty-hard {
        color: $pink;
    }

}


.practice-button-difficulty-basic,
.practice-button-difficulty-intermediate,
.practice-button-difficulty-hard {
    font-size: 1.3em;
    padding: 0.3em 0;
}


.practice-button:hover {

    background: $light-gray; 

    .practice-button-optype,
    .practice-button-difficulty-basic,
    .practice-button-difficulty-intermediate,
    .practice-button-difficulty-hard {
        color: $white;
    }
}

