@import './splash/style.scss';
@import './arcade/style.scss';
@import './levels/style.scss';
@import './level/style.scss';
@import './finished/style.scss';
@import './stats/style.scss';
@import './tutorial/style.scss';
@import './tutorials/style.scss';
@import './practice/style.scss';
@import './shared/style.scss';


* {
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word;
}

body {
    padding: 0;
    margin: 0;
    background: #eee;
}

.screen {
    margin: 0 auto;
    max-width: 500px;
}

.generic-logo {
    margin: 4em 0 0;    
}

.generic-logo-icon {
    width: 5em;
    height: 5em;
    background: #888;
    border-radius: 40em;
    margin: 0 auto;
}
