.arcade-question {
    background: #fff;
    margin: 0.1em;
    padding: 2em 0;
    text-align: center;
    color: #222;
}

.arcade-buttons-row {
    display: flex;
    justify-content: center;
}

.arcade-buttons-row-button {
    width: 5em;
    height: 5em;
    background: #fff;
    margin: 0.1em;
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
