@import '../global.scss';

.arcade-question {
    background: #fff;
    margin: 0.1em;
    padding: 2em 0;
    text-align: center;
    color: #222;
    font-size: 2em;
}

.arcade-buttons-row {
    display: flex;
    justify-content: center;
}

.arcade-buttons-row-button {
    width: 4em;
    height: 4em;
    font-size: 1.7em;
    background: #fff;
    margin: 0.1em;
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
}

.arcade-buttons-row-button:hover {
    background: $pink;
    color: #fff;
}
