@import '../global.scss';

.level {

    background: #fff;
    margin: 0.1em 0;
    display: flex;
    justify-content: space-between;
    padding: 1em 1em;
    text-decoration: none;
    cursor: pointer;

    .level-number {
        color: $gray;
        text-decoration: none;
        font-size: 1.5em;
    }

    .level-time {
        color: $green; 
        text-decoration: none;
        font-size: 1.35em;
    }

    .level-stars {
        color: $pink;
        text-decoration: none;
    }

    .level-stars-star {
        margin: 0 0.1em;
        font-size: 1.5em;
    }


}


.level:hover {

    background: $pink; 

    .level-number {
        color: #fff;
    }

    .level-time {
        color: #fff;
    }

    .level-stars {
        color: #fff;
    }

}
