@import '../global.scss';

.level {

    background: #fff;
    margin: 0.1em 0;
    display: flex;
    justify-content: space-between;
    padding: 1em 1em;
    text-decoration: none;
    cursor: pointer;

    .level-number {
        color: $gray;
        text-decoration: none;
    }

    .level-time {
        color: $green; 
        text-decoration: none;
    }

    .level-stars {
        color: $pink;
        text-decoration: none;
    }

}

.level:hover {

    background: $pink; 

    .level-number {
        color: #fff;
    }

    .level-time {
        color: #fff;
    }

    .level-stars {
        color: #fff;
    }

}


.level-number {
    font-size: 1.2em;
}
