@import '../../global.scss';

.arcade-header-typing,
.arcade-result-correct,
.arcade-result-incorrect, {
    font-size: 1.5em;
    text-align: center;
    padding: 1em 0;
    text-transform: uppercase;
}

.arcade-header-typing {
    display: flex;
    justify-content: space-between;
}

.arcade-header-typing-time {
    color: $pink;
}

.arcade-header-hints {
    color: $dark-gray;
}

.arcade-header-typing-remaining-questions {
    color: $green;
}

.arcade-result-incorrect {
    background: $pink;
    color: $white;
}

.arcade-result-correct {
    background: $green;
    color: $white;
}

.arcade-countdownbar {
    margin: 0 0 0.1em;
}

.arcade-countdownbar-line {
    background: $pink;
    height: 0.5em;
}
