@import '../../global.scss';

.arcade-buttons-row {
    text-align: center;
}

.arcade-input-button,
.arcade-erase-button,
.arcade-submit-button {
    display: inline-block;
    font-size: 2.2em;
    margin: 0.6%;
    cursor: pointer;
    padding: 1.3em 0;
    width: 32%;
    text-align: center;
}

.arcade-input-button:hover,
.arcade-erase-button:hover,
.arcade-submit-button:hover {
    background: $pink;
    color: $white;
}

.arcade-input-button,
.arcade-erase-button {
    color: $gray;
    background: $white;
}

.arcade-submit-button {
    background: $green;
    color: $white;
}
